/* globals.css */
@font-face {
  font-family: 'Galmuri';
  src: url('/Galmuri14.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Galmuri', sans-serif;
}

a {
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
